<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OaxacaNuestroArte</title>
    @Styles.Render("~/Content/css")
    @*@Scripts.Render("~/bundles/modernizr")*@
</head>
<body>
@*inicio de la navegacion, titulo, barra de busqueda, login etc.*@
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" href="@Url.Action("Index","Home")">OaxacaNuestroArte</a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
        <ul class="navbar-nav ms-auto me-0 me-md-3 my-2 my-md-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#!">Correo Usuario</a></li>
                    <li><hr class="dropdown-divider" /></li>
                    <li><a class="dropdown-item" href="#!">Cerrar Sesion</a></li>
                </ul>
            </li>
        </ul>
    </nav>
@*Fin de la navegacion, titulo, barra de busqueda, login etc.*@
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Resumen</div>
                        <a class="nav-link" href="@Url.Action("DatosArtesano","Home")">
                            <div class="sb-nav-link-icon"><i class="far fa-user"></i></div>
                            Información
                        </a>

                        <div class="sb-sidenav-menu-heading">Opciones de Venta</div>
                        <a class="nav-link" href="@Url.Action("AgregarArtesania","Home")">
                            <div class="sb-nav-link-icon"><i class="fas fa-plus"></i></div>
                            Agregar Artesania
                        </a>

                        <div class="sb-sidenav-menu-heading">Artesanias</div>
                        <a class="nav-link" href="@Url.Action("MaterialArtesania","VerArtesania")">
                            <div class="sb-nav-link-icon"><i class="fas fa-hammer"></i></div>
                            Material Artesania
                        </a>
                        <a class="nav-link" href="@Url.Action("ColorArtesania","VerArtesania")">
                            <div class="sb-nav-link-icon"><i class="fas fa-brush"></i></div>
                            Color Artesania
                        </a>
                        <a class="nav-link" href="@Url.Action("Categoria","VerArtesania")">
                            <div class="sb-nav-link-icon"><i class="fas fa-drafting-compass"></i> </div>
                            Categoria
                        </a>

                        <div class="sb-sidenav-menu-heading">Configuracion</div>
                        <a class="nav-link" href="@Url.Action("Index","Home")">
                            <div class="sb-nav-link-icon"><i class="fas fa-cog"></i></div>
                            Modificar Perfil
                        </a>
                    </div>
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">

                    *@RenderBody()

                </div>
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">ITSTE &copy; Tecnologias Web I, 2022</div>
                        <div>
                            <a href="#">Proyecto</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    @*<li>@Html.ActionLink("Inicio", "Index", "Home")</li>
        <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
        <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>*@

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/complementos")
    @RenderSection("scripts", required: false)
</body>
</html>
